* {
    padding: 0;
    margin: 0;
}

#libraryScreen {
    padding: 16px;
    height: calc(100vh - 32px);
    width: calc(100vw - 32px);
}

#libraryScreen > h1 {
    margin-bottom: 8px;
}

#btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 16px;
}

#mainButtons {
    display: flex;
    gap: 8px;
}

#btnContainer > button,
#mainButtons > button {
    display: flex;
    padding: 8px 0px;
    width: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 8px;
}

.card {
    padding: 16px;
    overflow-x: hidden;
    border-radius: 8px;
}

.card > p {
    margin-bottom: 8px;
    pointer-events: none;
}

#addScreen {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

#addForm {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 16px;
    border: 2px solid;
    border-radius: 8px;
}

#addForm > input {
    margin-bottom: 16px;
}

#form-btnContainer {
    margin-top: 16px;
    display: grid;
    justify-content: center;
    gap: 16px;
    grid-template-columns: min-content min-content;
}

#form-btnContainer > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 2em;
    padding: 8px;
}

#readContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#read {
    height: 1.5em;
    width: 1.5em;
}

#removeScreen {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

#removeScreenContent {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 16px;
    border: 2px solid;
    border-radius: 8px;
    align-items: center;
}

#confirmMessage {
    margin-bottom: 16px;
}

#rmvBtnContainer {
    margin-top: 16px;
    display: grid;
    justify-content: center;
    gap: 16px;
    grid-template-columns: min-content min-content;
}

#rmvBtnContainer > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 2em;
    padding: 8px;
}